# =========================
# Python cache
# =========================
__pycache__/
*.pyc
*.pyo

# =========================
# Virtual environments
# =========================
venv/
env/
.venv/

# =========================
# Environment variables
# =========================
.env
.env.local

# =========================
# Flask
# =========================
instance/
*.log

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.swp

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
